.wrapper {
    background: #a1c1a1;
    height: 100vh;
}
.app{
    background: #a1c1a1;
}
/** Zeile **/
.set {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    background: #eee;
    margin: 20px;
    border: 3px solid black;
    transition: all 0.3s ease-in-out;
    min-height: 0vh;

}
.bottom, .top{
    background: blanchedalmond;
    font-size: 40px;
    width: 15vw;
    height: 10vw;
    line-height:10vw;
    text-align: center;
}
.middle{
    background: #c19797;
    font-size: 40px;
    text-align: center;
    width: 15vw;
    line-height:100%;
}
.player1, .player2{
    text-align: center;
    vertical-align: middle;
}
.name1 ,.name2{
    margin-top: 7vw;
    -ms-filter: "FlipH";
    text-align: center;
    transform: rotate(270deg);
}
.grid-item{
    margin-top: 3vw;
    margin-left: 3vw;
}
.hide{
    display:none;
}

[type="checkbox"] {
    position: relative;
    top: 5px;
    width: 35px;
    height: 35px;
}
[type="checkbox"] + label {
    font-size: 35px;
    color:white;
    padding-right: 4vw;


}


[type="checkbox"] + label::before {
    width: 65px;
    height: 65px;
}

[type="checkbox"]:checked+label::before {
    box-shadow: inset 0px 0px 0px 3px #fff;
    background-color: #8cad2d;
}
.set.active {
    background: #c19797;
    margin: 100px;
    min-height: 30vh;
}

.set.finished {
    background: brown;
}

.divider {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    display: grid;
    background: blanchedalmond;
    font-size: 40px;
}
.player{
    display: grid;
    background: blanchedalmond;
    font-size: 40px;
}
.score.left {
    grid-template-columns: 1fr 2fr;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.score.right {
    grid-template-columns: 2fr 1fr;
}

.control {
    display: grid;
    grid-template-rows: 1fr 1fr;
    display: none;
}

.active>.score>.control {
    display: grid;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
}

.matchnames {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    margin: 50px 50px 0px 50px;
}
#courtname{
    font-size: 80px;
    color: white;
    text-align: center;
}
.name {
    font-size: 60px;
    color: white;
    text-align: center;

}
.headline{
    font-size: 60px;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.formular{
    align-content:center ;
}
form{
    text-align: center;
}
.form-style-3{
    margin: 0 auto;
    padding-top: 10vw;
    max-width: 650px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-3 label{
    display:block;
    margin-bottom: 10px;
}
.form-style-3 label > span{
    float: left;
    width: 200px;
    color: #21191c;
    font-weight: bold;
    font-size: 23px;
}
.form-style-3 fieldset{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #718f65;
    padding: 20px;
    background: #d0e0ca;
    box-shadow: inset 0px 0px 15px #d0e0ca;
}

.form-style-3 input[type=text],
.form-style-3 textarea{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #b6c4a3;
    outline: none;
    color: #98ad7b;
    padding: 5px 8px 5px 8px;
    box-shadow: inset 1px 1px 4px #c6cbbe;
    -moz-box-shadow: inset 1px 1px 4px #c6cbbe;
    -webkit-box-shadow: inset 1px 1px 4px #c6cbbe;
    background: #e0e2dd;
    width:50%;
}

.submit,
.form-style-3  input[type=button]{
    background: #e0e3da;
    padding: 5px 15px 5px 15px;
    color: #737373;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 250px;
    margin-top: 25px;
}
.required{
    color:black;
    font-weight:normal;
}

.myButton {
    box-shadow: 0px 10px 14px -7px #3e7327;
    background-color:#77b55a;
    border-radius:4px;
    border:1px solid #4b8f29;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    padding:32px 76px;
    font-size:20px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #5b8a3c;
    display: inline-block;
}
.myButton:hover {
    background-color:#72b352;
}
.buttons{
    margin-top: 10vw;
    display: flex;
    justify-content: center;
}
.back{
    font-size: 20px;
    color: white;
    text-align: left;
    margin-left: 10px;
}
.matchbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
